---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Icons from "../components/Icons/index.jsx";
import Icon from 'astro-icon';
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
		<style lang="scss">

			.stack{
				display: grid;
				grid-template-columns: repeat(5, 10rem);

				@media (max-width: 600px) {
					display: flex;
					flex-wrap: wrap;
				}
			}

			.techIcon{
				width: 70px;
				cursor: pointer;
				padding: 12px;

				@media (max-width: 600px) {
					padding: 7px;
				}

				&:hover{
					transform: scale(1.05);
					transition: all 0.5s ease;
				}
			}

			.react{
				&:hover{
					color: var(--c-react);
				}
			}

			.angular{
				&:hover{
					color: var(--c-angular);
				}
			}

			.java{
				&:hover{
					color:#5382a1;
				}
			}

			.js{
				&:hover{
					color: #F0DB4F;
				}
			}

			.html{
				&:hover{
					color: #e34c26;
				}
			}

			.css{
				&:hover{
					color: #264de4;
				}
			}

			.ts{
				&:hover{
					color: #007acc;
				}
			}

			.postgre{
				&:hover{
					color: #336791;
				}
			}

			.graphql{
				&:hover{
					color: #e535ab;
				}
			}

			.git{
				&:hover{
					color: #F1502F
				}
			}

			.spring{
				&:hover{
					color: #6DB33F;
				}
			}

			.docker{
				&:hover{
					color: #5dbbff;
				}
			}

			.mongo{
				&:hover{
					color: green;
				}
			}

			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}

			.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			}

			/* Modal Content/Box */
			.modal-content {
			background-color: #fefefe;
			margin: 15% auto; /* 15% from the top and centered */
			padding: 20px;
			border: 1px solid #888;
			width: 80%; /* Could be more or less, depending on screen size */
			}

			/* The Close Button */
			#close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			#close:hover,
			#close:focus {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}

		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Fernando Andrés</h1>
			<div class="heroImg">
				<img
					src="https://64.media.tumblr.com/eddc665e9902546112da2a7da63bd58d/9df34fd3d12367cd-c3/s1280x1920/98ea8f1369f94c0365c52714cf8353c81f714dc1.jpg"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<h2>Little biography</h2>
				<p>
					I'm 22 years old, I was born in Cádiz and I,ve studied in Seville. I started to inquire into
					the programming world high school in the informatic subject whit my first programm in <em>C++</em>.
					Afterwards I studied Software Engienieering but it wasn't enough so I decided to self learning at the
					same time and it was when I met Miguel Ángel Durán (midudev) a web programmer which
					share his knowledge in social media and who encourage me to have more inquisitivness on
					keep learning about this wonderful world.
				</p>
				<h2>Technologies</h2>
				<p>
					The technologies I feel more confortable whit are:
					<div class="stack">
						<Icon id="react" class="techIcon react" name="mdi:react"></Icon>
						<Icon class="techIcon angular" name="mdi:angular"></Icon>
						<Icon class="techIcon java" name="mdi:language-java"></Icon>
						<Icon class="techIcon js" name="mdi:language-javascript"></Icon>
						<Icon class="techIcon html" name="mdi:language-html5"></Icon>
						<Icon class="techIcon css" name="mdi:language-css3"></Icon>
						<Icon class="techIcon ts" name="mdi:language-typescript"></Icon>
						<Icon class="techIcon java" name="cib:mysql"></Icon>
						<Icon class="techIcon postgre" name="cib:postgresql"></Icon>
						<Icon class="techIcon mongo" name="cib:mongodb"></Icon>
						<Icon class="techIcon graphql" name="mdi:graphql"></Icon>
						<Icon class="techIcon docker" name="mdi:docker"></Icon>
						<Icon class="techIcon spring" name="simple-icons:springboot"></Icon>
						<Icon class="techIcon gh" name="mdi:github"></Icon>
						<Icon class="techIcon git" name="mdi:git"></Icon>
					</div>
				</p>

				<div id="myModal" class="modal">
					<div class="modal-content">
					  <span id="close">&times;</span>
					  <h3>ReactJS</h3>
					  <p>Esta tecnología la aprendí de forma autodidacta de la mano de
						<b>Miguel Ángel Durán</b> en uno de sus maravillosos cursos. Posteriormente
						lo utilicé para hacer un proyecto universitario llamado <em>PARK-INN</em>.
					  </p>
					</div>
				</div>

				<h2>Experience</h2>
				<p>
					As well as I was improving my skills I realised that I've learn a lot in the Software degree, mainly
					soft skills and work team since as I made several projects in group as you can check in the <a href="/projects">Projects</a> section.
					Furthermore I've been working in <a href="https://www.arima.eu/es/" target="_blank">Arima Software</a> for 3 months in a practice contract where I could
					put into practice all the knowledge I've been acquiring all these years.

				</p>
				<h2>Self description</h2>
				<p>
					I consider myself a versatile person whit the hability of adjustment on differents envirments.
					A talkative person who distinguish when to listen and when to speak in order to learning and teaching.
					I am very commited with my task and I won't give up on an easy way. Therefore I organize my time as the 
					most prouctive manner.
					For getting done I can provide pleasasnt atmosphere with my sens of humor.
				</p>

				<h2>Hobbies</h2>
				<section class="hobbies">
				<p id="hobbies">
					I love Formula 1 and everything related with cars and motorsport nad also I play padel on my
					spare time.
					You will be wondering why I referenced that I'm a magician, well I won't disappoint you so you
					will be able to check out by yourself with the next video. I hope you enjoy!
				</p>
				</section>
			</div>
		</div>
		<Footer />
	</body>
</html>

<script>
var modal = document.getElementById("myModal");
var icon = document.getElementById("react");
var cross = document.getElementById("close");

icon.onclick = () => {
  modal.style.display = "block";
}

cross.onclick = () => {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
